[gcode_macro START_PRINT]
gcode:
       # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
      {% set target_bed = params.BED|int %}
      {% set target_extruder = params.EXTRUDER|int %}
      {% set target_chamber = params.CHAMBER|default("40")|int %}
      {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
      {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
      #SET_FAN_SPEED FAN=Aux_Fan SPEED=0
      SET_PRESSURE_ADVANCE ADVANCE=0.028
      #SET_PIN PIN=Light VALUE=1

      M109 S190
      G91
      G1 E-5.0 F1800                 ; retract filament
      G92 E0                         ; zero the extruder
      G32
      CLEAN_NOZZLE
      G90                            ; absolute positioning
      Z_TILT_ADJUST
           
      # Checks if the bed temp is higher than 90c - if so then trigger a heatsoak
      {% if params.BED|int > 90 %}
        M106 S150                                         # Turns on the PT-fan
        #SET_FAN_SPEED FAN=Aux_Fan SPEED=0.3                    # Turns on the Aux fan
        G1 X{x_wait} Y{y_wait} Z15 F9000                  # Goes to center of the bed
        STATUS_HEATING
        M190 S{target_bed}                                # Sets target temp for the bed
        #TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp
    
      # If the bed temp is not over 90c then it skips the heatsoak and just heats up to set temp with a 5min soak.
      {% else %}
        G1 X{x_wait} Y{y_wait} Z15 F9000                # Goes to center of the bed
        STATUS_HEATING
        M190 S{target_bed}                              # Sets target temp for the bed
        #G4 P300000                                      # Waits 5 min for the bedtemp to stabilize
      {% endif %}
    
  ##############################
      #EDDY-NG Tap Routine
       # First clean at low temp
       #STATUS_CLEANING
       _CLEAN_NOZZLE TEMP=150
       # Home Z again after QGL and cleaning
       #STATUS_HOMING
       G28 Z
       #EDDY TAP
       SET_DISPLAY_TEXT MSG="Tappy tap"
       CENTER # this is center of parts during a print
       PROBE_EDDY_NG_TAP
        
       # We use the _BASE variant here as not to remove the stock Sovol override (but we also don't want to use the Sovol override here)
       # Remove the comment to add 'METHOD=rapid_scan' when using the Eddy probe
       M117 Bed Mesh
       BED_MESH_CALIBRATE_BASE ADAPTIVE=1 METHOD=rapid_scan

  ##############################
      STATUS_HEATING
      M107                                              # Turns off the PT-fan
      M109 S{target_extruder}   
      PURGE_NOZZLE
      SET_FAN_SPEED FAN=Abluft SPEED=0.10
      SET_FAN_SPEED FAN=Umluft SPEED=0.60
      #SET_GCODE_OFFSET Z=0.05



[gcode_macro END_PRINT]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-15.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    M84
    SET_FAN_SPEED FAN=Abluft SPEED=0.40
    TURNOFF_EXHAUST
    TURNOFF_AFTERPRINT

