  
[gcode_macro START_PRINT]
gcode:
    SET_VELOCITY_LIMIT ACCEL=15000
    #SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=5
    M109 S240
    G91
    G1 E-10.0 F1800                 ; retract filament
    G92 E0                         ; zero the extruder
    G32
    #CLEAN_NOZZLE
    G90                            ; absolute positioning
    Z_TILT_ADJUST
    
    {% if 'BED' in params %}
      {% set BED = params.BED|float %}
      M190 S{BED}
    {% endif %}
    {% if 'EXTRUDER' in params %}  
      {% set EXTRUDER = params.EXTRUDER|float %}
      SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER-30}
      TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER-35} MAXIMUM={EXTRUDER+40}
    {% endif %}
   
    CLEAN_NOZZLE
    G28 Z
    ATTACH_PROBE_LOCK
    CALIBRATE_Z
    #BED_MESH_CALIBRATE ADAPTIVE=1
    DOCK_PROBE_UNLOCK
    status_printing   
    PURGE_NOZZLE
    {% if 'EXTRUDER' in params %}  
      SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER}
    {% endif %}
    
    SET_FAN_SPEED FAN=Abluft SPEED=0.10
    SET_FAN_SPEED FAN=Umluft SPEED=0.60
    #SET_GCODE_OFFSET Z=0.03
   

[gcode_macro END_PRINT]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-15.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    M84
    SET_FAN_SPEED FAN=Abluft SPEED=0.40
    TURNOFF_EXHAUST
    TURNOFF_AFTERPRINT

