#[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include stepper.cfg]
[include EBB36.cfg]
#[include klicky-probe.cfg]
[include speed_test.cfg]
[include print_macros.cfg]
[include xol_leds.cfg]
#[include z_calibration.cfg]
[include eddy-ng.cfg]
#[include shell_command.cfg]
#[include filament_sensor.cfg]

[mcu]
canbus_uuid:36cbaee86293

[mcu EBBCan]
canbus_uuid: d5350ab8ba92

##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 8270       
max_z_velocity: 20
max_z_accel: 350
square_corner_velocity: 7.0

# [homing_override]
# gcode:
#   # Move 5 up, just in case (this is our safety zhop, this needs 'set_position_z: 0' below)
#   G91 ; set relative positioning
#   G0 Z25 F1000 ; 5 up zhop
#   {% if not rawparams or 'Y' in rawparams %}
#     {action_respond_info('Homing Y')}
#     G28 Y
#     G90 ; set absolute positioning
#     G0 Y125 F6000 ; return to center
#     M400 ; Wait for move to finish
#   {% endif %}
#   {% if not rawparams or 'X' in rawparams %}
#     {action_respond_info('Homing X')}
#     G28 X
#     G90 ; set absolute positioning
#     G0 X125 F6000 ; return to center
#     M400 ; Wait for move to finish
#   {% endif %}
#   {% if not rawparams or 'Z' in rawparams %}
#     {action_respond_info('Homing Z')}
#     G90 ; set absolute positioning
#     G0 X125 Y125 F6000 ; return to center, please add your offsets manually if you want to
#     # G28 Z
#     # G91 ; set relative positioning
#     # G0 Z5 F1000 ; 5mm up
#     # M400 ; Wait for move to finish
#   {% endif %}
#   G90 ; set absolute positioning
# axes: xy
# set_position_z: 0 # This forces the z position to be at 0 when we start homing, so we can move the Z up before homing.




[extruder]

[exclude_object]

[resonance_tester]
accel_chip: adxl345
probe_points:
   125, 125, 20 

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

# [safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# home_xy_position:145,250
# speed:10
# z_hop:10




#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HEATBED
##  Thermistor - TH1
heater_pin: PG11
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PA1
pullup_resistor: 2200
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 1
min_temp: 0
max_temp: 130
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

# [probe]
# ##  Inductive Probe
# ##  Connected to Z-PROBE
# ##  This probe is not used for Z height, only Quad Gantry Leveling
# pin: EBBCan:PB3
# x_offset: 0
# y_offset: 25.0
# #z_offset: 0
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 3.0
# samples_tolerance: 0.006
# samples_tolerance_retries: 3

#####################################################################
#   Fan Control
#####################################################################

[fan_generic Abluft]
#  Exhaust fan - FAN3
#pin: PE5 
pin: PG10
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.3
off_below: 0.02
cycle_time: 0.0005

[fan_generic Umluft]
pin: PB3
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
off_below: 0.05



# [controller_fan controller_fan]
# ##  Controller fan - FAN2
# pin: PF7
# ##tachometer_pin: PF6
# kick_start_time: 0.5
# heater: heater_bed


[output_pin caselight]
pin: PE6
value: 0.5 #startup value
shutdown_value: 0
pwm: True
cycle_time: 0.01


[idle_timeout]
timeout: 1800


[z_tilt]
z_positions:
    -50, 18
    125, 298
    300, 18
points:
    30, 5
    125, 195
    220, 5
speed: 200
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075

[temperature_sensor Bauraum]
sensor_type: Generic 3950
sensor_pin: PA2
pullup_resistor: 2200


[temperature_sensor Buildplate]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA3
pullup_resistor: 2200



[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.016660, 0.036465, 0.028965, 0.015840, -0.032910
#*# 	-0.012285, 0.012090, 0.009590, -0.011660, -0.015410
#*# 	-0.033535, 0.000840, -0.013535, 0.010840, -0.017285
#*# 	-0.022910, 0.001465, 0.014590, -0.013535, -0.020410
#*# 	-0.029785, -0.008535, -0.011660, -0.036035, -0.069160
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 220.0
#*# min_y = 40.0
#*# max_y = 220.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 77.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 52.4
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_16 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIIUvrsM+HR0FIIf8wpujiR0FIIrJ1nQI9R0FII2W6kxuYR0FIJBj/iTTyR0FIJMxEf05NR0FIJX+JdWeoR0FIJjLOa4EDR0FIJuYTYZpeR0FIJ5lYV7O5R0FIKEydTc0UR0FIKP/iQ+ZuR0FIKbMnOf/JR0FIKmZsMBkkR0FIKxmxJjJ/R0FIK8z2HEvaR0FILIA7EmU1R0FILTOACH6QR0FILebE/pfqR0FILpoJ9LFFR0FIL01O6sqgR0FIMACT4OP7R0FIMLPY1v1WR0FIMWcdzRaxR0FIMhpiwzAMR0FIMs2nuUlmR0FIM4Dsr2LBR0FINDQxpXwcR0FINOd2m5V3R0FINZq7ka7SR0FINk4Ah8gtR0FINwFFfeGIR0FIN7SKc/riR0FIOGfPahQ9R0FIORsUYC2YR0FIOc5ZVkbzR0FIOoGeTGBOR0FIOzTjQnmpR0FIO+goOJMER0FIPJttLqxeR0FIPU6yJMW5R0FIPgH3Gt8UR0FIPrU8EPhvR0FIP2iBBxHKR0FIQBvF/SslR0FIQM8K80SAR0FIQYJP6V3bR0FIQjWU33c1R0FIQujZ1ZCQR0FIQ5wey6nrR0FIRE9jwcNGR0FIRQKot9yhR0FIRbXtrfX8R0FIRmkypA9XR0FIRxx3miixR0FIR8+8kEIMR0FISIMBhltnR0FISTZGfHTCR0FISemLco4dR0FISpzQaKd4R0FIS1AVXsDTR0FITANaVNotR0FITLafSvOIR0FITWnkQQzjR0FITh0pNyY+R0FITtBuLT+ZR0FIT4OzI1j0R0FIUDb4GXJPR0FIUOo9D4upR0FIUZ2CBaUER0FIUlDG+75fR0FIUwQL8de6R0FIU7dQ5/EVR0FIVGqV3gpwR0FIVR3a1CPLR0FIVdEfyj0lR0FIVoRkwFaAR0FIVzeptm/bR0FIV+rurIk2R0FIWJ4zoqKRR0FIWVF4mLvsR0FIWgS9jtVHR0FIWrgChO6hR0FIW2tHewf8R0FIXB6McSFXR0FIXNHRZzqyR0FIXYUWXVQNR0FIXjhbU21oR0FIXuugSYbDR0FIX57lP6AdR0FIYFIqNbl4R0FIYQVvK9LTR0FIYbi0IewuR0FIYmv5GAWJR0FIYx8+Dh7kR0FIY9KDBDg/R0FIZIXH+lGZR0FIZTkM8Gr0R0FIZexR5oRPR0FIZp+W3J2qR0FIZ1Lb0rcFR0FIaAYgyNBgR0FIaLllvum7R0FIaWyqtQMVR0FIah/vqxxwR0FIatM0oTXLR0FIa4Z5l08mR0FIbDm+jWiBR0FIbO0Dg4HcR0FIbaBIeZs3R0FIblONb7SRR0FIbwbSZc3sR0FIb7oXW+dHR0FIcG1cUgCiR0FIcSChSBn9R0FIcdPmPjNYR0FIcocrNEyzR0FIczpwKmYOR0FIc+21IH9oR0FIdKD6FpjDR0FIdVQ/DLIeR0FIdgeEAst5R0FIdrrI+OTUR0FId24N7v4vR0FIeCFS5ReKR0FIeNSX2zDkR0FIeYfc0Uo/R0FIejshx2OaR0FIeu5mvXz1R0FIe6Grs5ZQR0FIfFTwqa+rR0FIfQg1n8kGR0FIfbt6leJgR0FIfm6/i/u7R0FIfyIEghUWR0FIf9VJeC5xR0FIgIiObkfMR0FIgTvTZGEnR0FIge8YWnqCR0FIgqJdUJPcR0FIg1WiRq03R0FIhAjnPMaSR0FIhLwsMt/tR0FIhW9xKPlIR0FIhiK2HxKjR0FIhtX7FSv+R0FIh4lAC0VYR0FIiDyFAV6zR0FIiO/J93gOR0FIiaMO7ZFpZYwBaJRdlChHQC36KPXCj1xHQCqgsGmzdOBHQCip89+Ys9lHQCb5GPDB6cJHQCWeEzTxJw5HQCSA4k+9T+VHQCMmCRRqmSxHQCJXXYSJLVtHQCFXahNL3sFHQCCslcUoCQ9HQB/+n483jmZHQB6sibKHONJHQB2YaREDppdHQByio5GKNQxHQBuQcoD+/0FHQBrQwH7hfmBHQBnXts+rpmlHQBkMDPT167dHQBhiuDVR9ONHQBePtASOIqhHQBbzyNB9iVBHQBZQnIubWG9HQBW19RBtI71HQBUuv1Ny//1HQBSgeUxG4KJHQBQgiY95XdFHQBOjEuKQCLNHQBMh0rfCfLBHQBK4GHdTSeRHQBI7mR8YjEhHQBHMT0zGx81HQBFnPMo4lxBHQBEMcTcKFrZHQBCraELE2lJHQBBFm8h/H9NHQA/PkaA0/+FHQA8jnekO8ApHQA6CVnXvYnJHQA3NSE6HbUJHQA1DSWRiC0hHQAywzFlUrXVHQAwgMhTOM2hHQAuZBsLGD95HQAsAGYEOihdHQApsASgNyrFHQAnjxptLe8BHQAllnAwqzMZHQAjj0Ytfh9hHQAhehI7Pn+BHQAff0o4oIa5HQAdynRlN3aZHQAcIDpe5GnxHQAadMb+zxwhHQAYh6EqxEK5HQAW6OUEKzipHQAVLp7ALMk5HQATnai8RXkdHQASFs30MAXRHQAQiKRpcitRHQAPFU4hoC7BHQANaIR8Kn4ZHQAL7xk6qfu5HQAKbnkqOT91HQAJHqPygsQhHQAHu71y9tM5HQAGXgnusEm1HQAE9uX+fI7xHQADt3eNwDlpHQACZQTixgaxHQABFCJA41FxHP//bjWeZO3NHP/80biRclE9HP/6dFMUGArpHP/4TEAJBP01HP/2BIJZ8ushHP/zp7foNwRZHP/xeyHPRy0tHP/vOQ64t9VBHP/tG9AlqvWRHP/rF2/Qc86xHP/omee2AtE5HP/mfj4uqe4lHP/kTGjPJoahHP/iKsaKbZ/hHP/gONZyGy2pHP/eZqdnspk9HP/cYJjNJMqhHP/adgyF//V5HP/YinYLRGW1HP/WsAGwxqtJHP/UxCk60z+VHP/S6taWBnApHP/RHFbXKjHxHP/PSKuBAVUpHP/Nf4Qb4tyRHP/LoWbh5ecFHP/J1SJy2GyNHP/IL0I8Eh4VHP/Ge1lILc31HP/E0lwAGHRNHP/DGjH2qf7VHP/Bc2gjHYONHP+/+raYoD7JHP+8pSPMEg3JHP+5tdoX+P7RHP+2rGDapxjFHP+zpVu0WLyZHP+wzAjclV5lHP+tkS3ifMItHP+qp+zX6DkNHP+nbjKaFRfVHP+kNbRuUoK9HP+hL50adyZ9HP+eO+t6nwaVHP+bVMZOR2R5HP+YU2FBXXKVHP+VdrPVpGlNHP+Sn44eEX7tHP+P9jybGUtNHP+NDKbAqHrhHP+KHlbcp7x1HP+HRGXPUmfRHP+Eu/Id42PFHP+CCuTvC4+hHP9+0EOKzECVHP95e+NEYyVBHP90WoJLG/EpHP9vKHha2EAxHP9qZaMw8UEtHP9k6bN9l+8JHP9gDjnBa6ZBHP9bDaQms3ulHP9VoVNoK4rVHP9QuvG7k48BHP9L/8yAK15lHP9HTx35DynlHP9CSdAyTDQ1HP87EucaGLcxHP8xHigib81BHP8napC9gpjhHP8espVRkDPVHP8UkpsO3lvdHP8KqTvtcX+tHP8AYQjeWCrdHP7swKmNQbuhHP7aYmMlk+lFHP7ICAP0ywf5HP6oYEoVptEtHP6DICCYTlv9HP47hR64UfABljAdoX3JhbmdllEc/juFHrhR8AEdALfoo9cKPXIaUjAdmX3JhbmdllEdBSCFL67DPh0dBSImjDu2RaYaUjAJkY5RLEHUu
#*# calibrated_drive_currents = 16
#*# calibration_version = 3
#*# saved_reg_drive_current = 16
#*# saved_tap_drive_current = 16
#*# tap_adjust_z = -0.010
